@model BranchDetailModel;

@{
    Layout = "_Layout";
}

<style>
    main {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #E4ECEF;
        height: 100vh;
    }

    
</style>

<main>
    <p class="topLink"> <a class="branchesLink" asp-controller="Home" asp-action="Index">Branches</a> > @Model.BranchName</p>

    <div class="booksContainer">
        @foreach (Book book in @Model.BooksInBranch)
        {
            <div class="bookContainer">
                <img src="@book.CoverImg" alt="book cover" class="coverImgBranch"/>
                <div class="branchDetailBookText">
                    <p class="branchBookTitle">@book.Title</p>
                    <p class="branchBookAuthor">@book.Author</p>
                </div>
                <a class="myA" asp-controller="Libraries" asp-action="bookDetail" asp-route-bookId="@book.BookId"><button class="myBtn">Detail</button></a>
            </div>
        }
    </div>

    <a asp-controller="Libraries" asp-action="AddBook" asp-route-branchId="@Model.BranchId" class="myA" style="align-self: center"><button class="myBtn">Add book</button></a>
</main>




